.mypageBtn{
	border: none;
    width: 100px;
    height: 40px;
    background: #9b9b9b;
    color: white;
    border-radius: 5px 5px;
}

.mypageBtn:hover{
	font-weight: bold;
	background: #8c8c8c;
}