@charset "UTF-8";
@font-face{
	font-family:"Nanum Gothic";
	src: url('fonts/NanumGothic.ttf') format('truetype');

}  
@import url(http://api.mobilis.co.kr/webfonts/css/?fontface=NanumGothicWeb); 
* { font-family: 'NanumGothic', '나눔고딕','NanumGothicWeb', '맑은 고딕', 'Malgun Gothic', Dotum; } 
body{

font-family:"Nanum Gothic";}
table{
	margin:0 auto;
/*     font-size:15px; */
	border-collapse: non-collapsed;
	position: static;

}

.notice {
	text-align:center;
	align-content:center;
    width: 100%;
    border-collapse: collapse;


  }
  th{
	   border-top: 2px solid black; 
  	  border-bottom: 1px solid black;
  	  padding: 10px;
  	  height:40px;
  	  font-size: 16px;
  	  text-align: center;
  	  vertical-align: middle;

  }
  td {
    border-bottom: 1px solid #f0f0f0;
    padding: 10px;
  }

.title{
	height:80px;
	font-size: 16px;
	vertical-align: middle;
}
.content{
	background-color: #f0f0f0;
	font-size: 14px;
	text-align:left;
	
	}

h1{padding:20px;
font-size: 50px;
font-weight: bold;}

#width{padding-left:200px;
	padding-right:200px;}