@charset "UTF-8";
@import
	url('https://fonts.googleapis.com/css?family=Do+Hyeon&subset=korean');
	
body {
	clear: both;
}

#portfolioListSideBar {
	float: left;
	border-radius: 5px;
	font-family: 'Do Hyeon', sans-serif;
	font-size:20px;
	width: 200px;
	height: 500px;
}

#portfolioListSideBar li:not (.active ) a {
	padding-left: 15px;
}

.nav {
	padding-left: 10px;
}

#portSearch {
	margin-left: 220px;
	width: 1030px;
	height: auto;
}

.col-lg-6 {
	margin-left: 300px;
	margin-top: 5px;
}

#topSearch {
	float: left;
	width: 130px;
	height: 35px;
	line-height: 35px;
	margin-left: 10px;
	font-size: 13px;
	font-weight: bold;
}

#topSearch span {
	font-size: 1.1em;
	color: #2782ec;
}

.dropdown-menu {
	margin-left: 950px;
}

#portList {
	border-top: 1px solid #e8e8e8;
	width: 1030px;
	height: 200px;
	padding: 10px;
	margin-top: 10px;
	float: right;
}
#portList:after{
	clear:both;
	content:'';
	display: block;
}

#portList img {
	height: 100%;
	float: left;
	padding-right: 20px;
	max-width: 240px;
	max-height: 200px;
}

#dropdownMenu1 {
	margin-top: 5px;
}

#portName {
	font-size: 34px;
	margin-top: 35px;
	font-family: 'Do Hyeon', sans-serif;
	font-weight: lighter;
}

#photoInfo {
	margin-top: 70px;
	font-weight: bold;
}
.phothgrahper{
	font-size: 0.8em;
	color:#9999b3;
	font-weight: normal;
	margin-left: 5px;
}
.divPage{
    clear: both;
    text-align: center;
}
.iw_inner{
	font-size: 12px;
}