@charset "UTF-8";


#detailArticle {
	width: 1235px;
	height: auto;
}

#detailTitle {
	width: 1903px;
	height: 400px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#pfTitle {
	color: white;
	font-size: 45px;
}

#pfTitle2 {
	color: white;
	font-size: 20px;
}

#topCategory {
	font-size: 0.8em;
	color: #dedede;
}

#titleSentence {
	padding-left: 330px;
	padding-top: 250px;
}

#pfTitle2 {
	margin-top: 10px;
	font-weight: bold;
}

.nav {
	margin-left: 330px;
}

.nav-pills {
	font-weight: bold;
}

#imgContainer {
	width: 1903px;
	height: auto;
	background-color: rgba(50, 50, 50, 1);
	padding: 30px 0 30px 0;
}

#mygallery {
	margin: 0 auto;
	width: 1245px;
}

#detailArticleBottom {
	margin-top: 20px;
	width: 1245px;
	height: auto;
	margin-left: 340px;
	position: relative;
    margin-bottom: 60px;
}

#detailArticle2 {
	width: 900px;
	height: auto;
	float: left;
	margin-bottom: 10px;
	padding: 30px;
	color: #515457;
	font-weight: bold;
}

#da2Name {
	line-height: 50px;
	font-size: 1.4em;
}

#pr {
	font-size: 0.9em;
	line-height: 1.3;
}

#detailArticleSide {
	width: 335px;
	height: 100px;
	float: right;
	background-color: #f6f6f6;
	margin-bottom: 10px;
}

#comment {
	width: 900px;
	height: auto;
	clear: both;
	border-bottom: 1px solid #e8e8e8;
	border-top: 1px solid #e8e8e8;
}

#comment1 {
	line-height: 60px;
	margin-left: 35px;
	font-weight: bold;
}

.btn-lg {
	background-color: #337ab7;
	color: white;
	width: 335px;
	margin-left: 10px;
	border: 0;
    font-weight: bold;
}

.btn-lg:hover {
	border: 0;
}

#das {
	padding: 25px;
	line-height: 30px;
}

#likeBox {
	margin-top: 10px;
	width: 335px;
	height: 100px;
	float: right;
	text-align: center;
	font-size: 1.2em;
}

#likeBox>span {
	line-height: 40px;
}

#star {
	margin-bottom: 25px;
}

#starTable td {
	padding-left: 20px;
	vertical-align: middle;
	font-size: 0.9em;
	font-weight: bold;
}

#starTable td:first-child {
	border-right: 1px solid #e8e8e8;
}

#avgStar {
	font-size: 3.0em;
}

#avgStar1 {
	margin-bottom: 5px;
}

.symbol {
	display: inline-block;
	border-radius: 50%;
	border: 5px double white;
	width: 30px;
	height: 30px;
}

.symbol-empty {
	background-color: #ccc;
}

.symbol-filled {
	background-color: black;
}

.custom-heart {
	font-size: 2.5em;
	color: red;
}

.label-default {
	background-color: white;
}

.glyphicon-star:before {
	content: "\e006";
	color: #337ab7;
}

.glyphicon-star-empty:before {
	content: "\e007";
	color: #337ab7;
}

.comment2 {
	border-bottom: 1px solid #e8e8e8;
	clear: both;
	height: 150px;
}

.comment2>img {
	margin: 20px 10px 20px 10px;
	float: left;
}

.memberCommentDiv {
	padding-top: 25px;
	margin-left: 30px;
	line-height: 50px;
}

.memberComment {
	font-size: 0.9em;
	font-weight: bold;
}

.memberInfo {
	font-size: 0.8em;
	font-weight: bold;
}

.memberInfo1 {
	font-size: 0.9em;
	color: #a1a1a1;
}

#dasCg {
	font-size: 1.4em;
	font-weight: bold;
}

#dasExpert {
	font-size: 0.8em;
}

/* 모달 시작 */
.modal-dialog.modal-80size {
  width: 80%;
  height: 80%;
  margin: 0;
  padding: 0;
}
.modal-content.modal-80size {
  height: auto;
  min-height: 80%;
}
.modal.modal-center {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal.modal-center:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 50%;
}

.modal-dialog.modal-center {
  display: inline-block;
  text-align: left;
  vertical-align: middle; 
}
/* 모달 끝 */

#mygallery a{
	cursor: pointer;
}
.heart{
    width: 26px;
    vertical-align: middle;
    margin-right: 5px;
    cursor: pointer;
}