@charset "UTF-8";

body {
	padding: 5px;
	margin: 5px;
}

h2 {
	font-size: 2em;
	font-weight: bold;
}

.firstDiv {
	width: 1300px;
	border-top: 2px solid black;
	border-bottom: 1px solid rgba(213, 213, 213, 1);
	font-size: 1em;
	color: rgba(70, 70, 70, 1);
}

#sp1, #sp2 {
	margin: 10px;
	padding: 15px;
}

#sp1 {
	font-size: 1.2em;
	font-weight: bold;
}

#sp2 {
	text-align: right;
}

.divForm {
	width: 1300px;
}

.idDiv {
	font-size: 1.1em;
	margin: 10px;
	font-weight: bold;
	margin: 15px;
}

.lastDiv {
	height: 500px;
	margin-top: 80px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 15px;
}

.center {
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: right;
	font-size: 1.2em;
	font-weight: bold;
	text-align: right;
}

.center a, .center a:visited {
	margin: 5px;
	color: gray;
	cursor: pointer;
}

#replyList {
	border-top: 1px solid rgba(213, 213, 213, 1);
	border-bottom: 2px solid black;
	text-align: center;
}

#replyItem {
	border: 1px solid gray;
	width: 600px;
	padding: 5px;
	margin-top: 5px;
	display: inline-block;
}

