@charset "UTF-8";

body {
	width: 1903px;
}

#logo {
	margin-bottom: 20px;
	margin-left:
}

.container-fluid {
	background-color: white;
	height: 120px;
	width: 100%;
	padding-left: 330px;
}

#topMenu>ul>li {
	color: white;
	float: left;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
}

#topMenu>ul>li>a {
	text-decoration: none;
}

#topMenu>ul>li>ul>li>a {
	text-decoration: none;
}

#topMenu>ul>li>ul {
	border-radius: 0 0 5px 5px;
	box-shadow: 2px 2px 30px #376092;
}

#topMenu>ul>li>#userul {
	
}

#topMenu>ul>li>ul>li {
	line-height: 35px;
	border-radius: 0 0 5px 5px;
}

#topMenu .menuLink {
	height: 120px;
	width: 200px;
	color: #376092;
	display: block;
	font-size: 20px;
	font-weight: bold;
	font-family: "Trebuchet MS", Dotum, Arial;
	display: table-cell;
	vertical-align: middle;
}

#topMenu .menuLink:hover {
	background-color: #dbeef4;
}

#topMenu ul>li>ul>li:hover {
	background-color: #dbeef4;
}

#topMenu li ul {
	background: white;
	display: none; /* 평상시에는 서브메뉴가 안보이게 하기 */
	height: auto;
	width: 200px;
	position: absolute;
	z-index: 200;
	font-weight: bold;
	color: #376092;
}

#topMenu li:hover ul {
	display: block; /* 마우스 커서 올리면 서브메뉴 보이게 하기 */
}

.container-fluid {
	position: fixed;
	z-index: 200;
}

#userli {
	padding-top: 28px;
	padding-bottom: 18px;
	margin-left: 130px;
}

nav #userul {
	margin-left: 60px;
}

article {
	width: 1300px;
	margin-left: 320px;
	margin-top: 120px;
}