@charset "UTF-8";
/* container */
#container	{
	/*clear: both;*/
	width:10%; 
	/*margin: 40px;*/
	float:left;
	overflow: auto;
/* 	background: white; */
	}
	#container #leftNavi	{
		float: center; /*background:#FFCCCC;*/
		width: 100%;
		padding: 70px 0 0 0;
		}
/* 		#container #leftNavi dt	{
			padding: 7px 5px 25px 20px;
			font-weight: bold;
			}
			 */
		#container #adminCtg	{
			display: block;
			 padding: 20px; 
			font-weight: bold;
			}
			#container #leftNavi li a	{
				text-decoration: none;
				display: block;
				/* color: #585721;
				border-bottom: 1px solid #ddd; 
				padding: 10px 5px;*/
				}
 				#container #leftNavi>li:hover, #container #leftNavi>li:focus	{
					background:#C6D9F1;
					} 
				#container li ul li{
				 	padding: 5px 0px 0px 50px;  /* 상우하좌 */
				}

#container li>ul {
	/* background: white;  */
	display: none; /* 평상시에는 서브메뉴가 안보이게 하기 */
	height: auto;
	position: absolute;
	z-index: 200;
	font-weight: bold;
	color: #376092;
	float:left;
	padding-top: 20px;
	
}


#container li:hover >ul {
	display: block; /* 마우스 커서 올리면 서브메뉴 보이게 하기 */
}
#adminCtg ul{
	padding-left:100px;
	text-align: left;
	width:400px;
	
}
